@import 'global';

body{
    background-color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    >.main{
        width: 700px;
        height: 500px;
        // border: 1px solid red;
        margin-top: 10px;
        position: relative;
        >.ball{
            // border: 1px solid red;
            width: 100px;
            height: 100px;
            background-color: white;
            border-radius: 50%;
            box-shadow: 0 0 50px $white;
            transform: translateX(-50%);
            position: absolute;
            animation: ball 2s forwards infinite ease-in-out;
            left: 50%;
            &::after{
                @include littles(little2,90)
            }
            &::before{
                @include littles(little1,10)
            }
            >.ball-small{
                background-color: $dark-white;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                transform: translateX(-50%);
                position: absolute;
                left: 50%;
                animation: smallball 2s forwards infinite ease-in-out;
            }
        }
        >span{
            &:nth-of-type(1){
                // border: 1px solid red;
                background-color: $purple;
                width: 170px;
                height: 50px;
                position: absolute;
                top: 305px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 10px;
                animation: underball 2s forwards infinite ease-in-out;
            }
            &:nth-of-type(2){
                background-color: $background;
                width: 200px;
                height: 150px;
                position: absolute;
                top: 330px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}